* {
  box-sizing: border-box;
}
html,body {
  margin: 0px;
}
body{
  font-family: 'Azosans Regular', sans-serif;
  position: relative;
}
div {
  vertical-align: baseline;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.row {
  width: 100%;
  overflow: auto;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
h2 {
  font-size: 26px;
  font-weight: 100;
}
.header {
  width: 100%;
  display: -webkit-box;
  background-color: #fff;
}
.heading-container {
  width: 900px;
  margin: auto;
  margin-top: 25px;
  color: #b2b2b2;
}
input[type=checkbox]{
  display: none;
}
input[type=checkbox]:checked ~ #menu{
    display: block;
}
.mobile-visible-head {
  display: none;
}
.tabs {
  padding: 0px;
  margin: 0% auto;
  margin-bottom: 0px;
  width: 900px;
  padding-top: 3%;
}
.nav-tabs .tabs li {
  display: inline-block;
  font-size: 15px;
  text-align: center;
}
.tabs li a.active {
  background-color: #f25c5d;
  color: #fff;
}
.tabs li a {
  padding: 15% 0%;
  color: #5c5c5c;
  display: inline-block;
  width: 124px;
}
.tabs li a.active:hover {
  color: #fff;
}
.tabs li > a:hover {
  color: #f25c5d;
}
.container {
  background-color:#F25C5D;
  color: #FCFBFC;
  width: 100%;
}.content-wrapper {
  width: 900px;
  margin: auto;
  color: #fff;
}
.content-wrapper .wrapper {
  width: 100%;
  padding-top: 5%;
}
h3 {
  font-size: 26px;
  font-weight: 100;
}
p {
  text-align: justify;
  line-height: 1.5;
  margin-top: 5%;
}
.tabcontent {
  display: none;
}
.tabcontent:nth-child(1) {
  display: block;
}
.footer div {
  display: inline-block;
}
.footer-icons {
  padding: 0;
}
.follow-icon:hover .circle-transition {
  transform: scale(0);
  opacity: 0;
}
.follow-icon:hover .fa {
  color: #fff;
}
.footer {
  padding-bottom: 50px;
}
.follow-icon {
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  border: 3px solid #fff;
  float: left;
  margin: 0 18px 12px 0;
  position: relative;
}
.circle-transition {
  position: absolute;
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  margin-top: -30px;
  margin-left: -30px;
  top: 50%;
  left: 50%;
  /*opacity: 1;*/
}
.follow-icon > .fa {
  color: #f25c5d;
  font-size: 25px;
  line-height: 60px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
.show-menu {
  display: none;
}
.nav-tabs {
  width: 124px;
  padding: 0;
  float: left;
}
h2 {
  line-height: 1.4;
}
.heading-container {
    width: 100%;
    padding-left: 5%;
    margin: 2% 0%;
  }
.mobile-visible-head {
  display: none;
}
.tabs {
  width: 100%;
  padding: 0px;
}
.container {
  float: right;
  width: calc(100% - 124px);
}
.content-wrapper {
  width: 100%;
}
.content-wrapper .wrapper {
  width: 85%;
  padding-top: 5%;
  margin: 0 auto;
  }
h3 {
  line-height: 1.4;
  }
}

@media only screen and (max-width: 767px) {
.toggle {
  position: absolute;
  right: 2%;
  top: 5%;
}
.toggle div {
  background-color: #F25C5D;
  height: 5px;
  width: 25px;
  border-radius: 2px;
  margin-bottom: 3px;
}
.footer-icons {
  display: block;
}
.mobile-visible-head {
  display: block;
}
.heading-container {
  width: 100%;
}
.heading {
  padding-left: 5%;
}
h2 {
  font-size: 20px;
  margin-top: 3%;
}
.mobile-visible-head {
  background-color: #393939;
}
.mobile-visible-head h3 {
  display: block;
  margin: 0px;
  padding: 2%;
  color: #7b7b7b;
}
.show-menu {
  display: block;
}
ul {
  position: static;
  display: none;
}
.nav-tabs .tabs li {
  width: 100%;
}
.tabs {
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  transition: all 0.4s ease;
}
.tabs li a {
  width: 100%;
  padding: 3% 0%;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  transition: all 0.5s ease;
}
.content-wrapper {
  width: 100%;
}
.content-wrapper .wrapper {
  width: 90%;
  margin: 0 auto;
  }
}


